{% extends "layout.html"%}

{%block heading%}
<h1>Super-Admin Page</h1>
{%endblock%}

{%block body%}
<div class="jumbotron" style=" margin-right: 200px; margin-left: 200px; margin-top: 100px;">
	<div class="container">
<a class="btn btn-primary" href="" role="button">Display all admins</a>
<a class="btn btn-primary" href="http://www.google.com" role="button">Show all clubs</a>
<br>
<br>
<a class="btn btn-primary" href="http://www.google.com" role="button">Delete a Club.</a>
<a class="btn btn-primary" href="http://www.google.com" role="button">Check out a specific club</a>
</div>
</div>
{% endblock%}